<div class="shortcut-bar">
  {{#each models}}
    <div class="shortcut" id="sc-{{attributes.name}}">
      <a href="{{attributes.href}}">
        {{#if this.isImage}}
          <img src="{{attributes.img}}" />
        {{else this.isFontIcon}}
          <i class="fa {{attributes.fontClass}}"
          onmouseover="Gateway.shortcut_bar_view.scFontHover($(this),'{{attributes.hoverColor}}')">
          </i>
        {{/if}}
      </a>
    </div>
  {{/each}}
</div>
