<div class="shortcut-bar">
  {{#each models}}
    <div class="shortcut" id="sc-{{attributes.name}}">
      <a href="{{attributes.href}}">
        {{#if this.isImage}}
          <img src="{{attributes.img}}" />
        {{else this.isFontIcon}}
          <i class="fa {{attributes.fontClass}}"
          onmouseover="scFontHover({{attributes.hoverColor}})"
          onmouseout="scFontOut()"></i>
        {{/if}}
      </a>
    </div>
  {{/each}}
</div>
